{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="page-header">
        <h1>Download Origins Collection Tool</h1>
    </div>
    <p class="lead">Please download the agent for your platform.</p>
    <div class="row">

        <div class="col-md-6">
            <div class="well-lg">
                <p class="lead">Windows Collection Tool</p>
                    <p>Minimum Requirements:</p>

                    <a href="#" class="btn btn-primary">Download</a>
            </div>
        </div>
        <div class="col-md-6">

            <div class="well-lg">
                <p class="lead">MacOS Collection Tool</p>
                    <p>Minimum Requirements:</p>

                    <a href="#" class="btn btn-primary">Download</a>
            </div>

        </div>

    </div>
</div>
    {% endblock %}
