{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
    <div class="container text-center">
        <h1 class="homepageCallout">Nutanix Xtract: Origins</h1>
        <h2> Origins: your first step in entering the world of the Nutanix Enteprise Cloud.</h2>
        <p><a class="btn btn-primary btn-lg" role="button">Download Collection Tool »</a></p>
    </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
        <div class="col-lg-4">
            <img class="img" src="/static/images/nutanix_dataintegritycheck.png" alt="Assess"
                 style="width: 140px; height: 140px;">

            <h2>Assess</h2>
            <p>Assess your actual infrastructure to collect all information and metrics needed to define the best
                infrastructure for you.</p>
            <p><a class="btn btn-default" href="#Collect" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img" src="/static/images/nutanix_richdataanalytics.png" alt="Analyze"
                 style="width: 140px; height: 140px;">
            <h2>Analyze</h2>
            <p>Filter object from assessment data and analyze the real usage from your infrastructure. It will help to
                not oversize the infrastructure.</p>
            <p><a class="btn btn-default" href="#Analyze" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img" src="/static/images/nutanix_servervirtualization.png" alt="Design and Size"
                 style="width: 140px; height: 140px;">
            <h2>Design</h2>
            <p>Push your best-fit needs to define your Next-Gen Infrastructure.</p>
            <p><a class="btn btn-default" href="#Size" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette" id="Collect">
        <div class="col-md-7">
            <h2 class="featurette-heading">Collect data about your infrastructure <span class="text-muted">Some more stuff here.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="/static/images/vsphere-looks.png" alt="Collect">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" id="Analyze">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="http://via.placeholder.com/458x458"
                 alt="Xtract Origins Screenshot">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Analyze your virtualization estate. <span class="text-muted">Pick your targets.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>

    </div>


    <hr class="featurette-divider">

    <div class="row featurette" id="Size">

        <div class="col-md-7">
            <h2 class="featurette-heading">Size your next-generation infrastructure. <span class="text-muted">Experience the Nutanix Enterprise Cloud</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="/static/images/sizer-looks.png" alt="Sizer">
        </div>
    </div>


    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


</div><!-- /.container -->


{% endblock %}
